/*big tablet to 1200px:width less than 1140px */
@media only screen and (max-width:1200px) {
  .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }

  .row {
    padding: 0 2%;
  }
}

/*small tablet to big tablet:width 768px to 1023px  */
@media only screen and (max-width:1023px) {
  body {
    font-size: 18px;
  }

  section {
    padding: 60px 0;
  }

  .row {
    padding: 0 3%;
  }

  .long-copy {
    width: 80%;
    margin-left: 10%;
  }

  .logo {
    height: 75px;
    margin-top: 30px;
  }

  .main-nav {
    margin-top: 55px;
  }

  .container {
    max-width: 500px;
  }

  .travelcontent .long-copy {
    margin-bottom: 50px;
  }

  .travel-photo img {
    height: 250px;
  }

  .section-food .long-copy {
    margin-bottom: 50px;
  }

  .footer-nav li {
    margin-right: 10px;
  }
}

/*small phones to small tablet:width 481px to 767px */
@media only screen and (max-width:767px) {
  .row,
  .hero-text-box{ padding: 0 4%; }
  section{ padding: 30px 0; }
  body{ font-size: 16px; }
  h1 { font-size: 300%; }
  h2{ font-size: 150%; }

  .logo {
    height: 50px;
    margin-top: 30px;
  }
  .main-nav{ display: none; }
  .mobile-nav-icon{
    display: inline-block;
    /* margin: 30px 10px 0px 0px; */

  }
  .main-nav{
    float: left;
    margin-top: 35px;
    margin-left: 25px;
  }
  .main-nav li{
    display: block;
  }

  .main-nav li a:link,
  .main-nav li a:visited{
    display: block;
    border: 0;
    padding: 10px 0;
    font-size: 100%;
  }
  .sticky .logo-black{
    height: 50px;
    width: auto;
    margin: 10px 0;
  }
  .sticky .mobile-nav-icon{
    margin-top: 15px;
  }
  .sticky .main-nav li a:link,
  .sticky .main-nav li a:visited{ padding: 10px 0; }
  .sticky .mobile-nav-icon i{color: #555; }
  .sticky .mobile-nav-icon i{margin-bottom: 10px; }
  .sticky .main-nav{ margin-top: 10px; }


  .section_career .col{
    width: 100%;
    text-align: center;
  }
  .section_career h3{
    margin-top: 15px;
  }
  .section-experience .col{ width: 100%; }

  .experience_mobileview{
    margin-top: 20px;
  }

  .travelcontent .long-copy{
    width: 100%;
    margin-left: 0%;
  }
  /* .travelcontent .row{  } */
  .travelcontent .col{
    width: 100%;
    margin: 0 0 4% 0;
  }

  .section-food .row{ padding: 0%; }
  .section-food .box{ padding: 0%; }
  .section-food .col {
    width: 100%;
    margin: 0 0 4% 0;
    text-align: center;
  }


  .main-nav {
    margin-top: 45px;
  }

  .box img{
    max-width: 100%;
    max-height: 200px;
  }
}

/* small phones:width 0 to 480px */
@media only screen and (max-width:480px) {
  .row,
  .hero-text-box{ padding: 0 5%; }
  section{ padding: 25px 0; }
  .logo {
    height: 50px;
    margin-top: 20px;
  }
  .mobile-nav-icon{
    margin: 20px 10px 0px 0px ;
  }
  .sticky .logo-black{
     height: 35px;
     width: auto;
     margin: 10px 0;
  }
  .sticky .mobile-nav-icon {
    margin-top: 9px;
  }

  .career_intro{
    margin-bottom: 15px;
  }

  .travel-photo{
    height: 203.69px;
    opacity: 1;
  }
