*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  background-color: #fff;
  color: #555;
  font-family: 'Lato','Arial',sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.clearfix{zoom:1}
.clearfix:after{
  content: '';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/* ----------------------------------------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------------------------------------- */

.row{
  max-width: 1140px;
  margin: 0 auto 0 auto;
}

section{
  padding: 80px 0;
}

.box{
  padding: 1%;
}

/* links */
a:link,
a:visited{
  color: #38ada9;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #38ada9;
  transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active{
  color: #555;
  border-bottom: 2px solid transparent;
}


/* BUTTONS(REUSABLE) */


.btn:link,
.btn:visited,
input[type=submit]{
display: inline-block;
padding: 10px 30px;
font-weight: 300;
text-decoration: none;
border-radius: 200px;
transition: background-color 0.2s,border 0.2s, color 0.2s;

}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
background-color: #38ada9;
border: 1px solid #38ada9;
color: #fff;
margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
border: 1px solid #38ada9;
color: #38ada9;
}
.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active{
background-color: #079992;
}
.btn-full:hover,
.btn-full:active,
input[type=submit]{
border: 1px solid #38ada9;

}
.btn-ghost:hover,
.btn-ghost:active{
border: 1px solid #38ada9;
color: #fff;
}

/* icons */
.icon-big{
  color: #38ada9;
  display: block;
  font-size: 350%;
  margin-bottom: 10px;
}

.icon-small{
  color: #38ada9;
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 120%;
  margin-right: 10px;

  /* secrets to align text and icons */
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/* ----------------------------------------------------------------------------- */
/* heading h1 h2 h3 */
/* ----------------------------------------------------------------------------- */

h1,h2,h3{
  font-weight: 300;
  text-transform: uppercase;
}

h1{
  margin-top: 0;
  margin-bottom: 20px;
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  letter-spacing: 1px;
}

h2{
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  letter-spacing: 1px;
}
h2:after{
  display: block;
  height: 2px;
  background-color: #38ada9;
  content: " ";
  width: 120px;
  margin: 0 auto;
  margin-top: 30px;
}
h3{
  font-size: 110%;
  margin-bottom: 15px;
}

/* long copy */
.long-copy{
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

.box p{
  font-size: 90%;
  line-height: 145%;
}

/* ----------------------------------------------------------------------------- */
/* HEADER */
/* ----------------------------------------------------------------------------- */

.landing{
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("resources/img/header_back.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
.hero-text-box{
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}
.logo{
  height: 45px;
  width: auto;
  float: left;
  margin-top: 47px;
}

.logo-black{
  display: none;
  height: 25px;
  width: auto;
  float: left;
  margin: 5px 0;
}
/* main navi */
.main-nav{
  float: right;
  list-style: none;
  margin-top: 55px;
}
.main-nav li{
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active{
  border-bottom: 2px solid #38ada9;
}

.sticky{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255,255,255,0.98);
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
}
.sticky .main-nav{
  margin-top: 18px;

}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited{
  padding: 16px 0;
  color: #555;
}
.sticky .logo{ display: none; }
.sticky .logo-black{ display: block; }
/* ----------------------------------------------------------------------------- */
/* profile */
/* ----------------------------------------------------------------------------- */

.section_Career{
  background-color: #f4f4f4;
}
.section_Career .long-copy{
  text-align: center;
}
.section_Career h1{
  text-align: center;
  color: #38ada9;
}
.section_Career h3{
  color: #38ada9;
  font-weight: 400;
}
hr{
  margin: 40px 0px;
  border-color: #727878;
  opacity: 0.2;
}
.career_intro{
  line-height: 1.64;
  font-size: 90%;
}
.profile-image{
  text-align: center;
}
.profile-image img{
  width: 100%;
  border-radius: 50%;
  max-width: 246px;
  border: 5px solid #bdbdbd;
}
.details{
  display: flex;
  flex-direction: column;
}

.details_child{
  margin-bottom: 7px;
  font-size: 90%;
}
.section_Career li{
  display: inline-block;
  margin-right: 20px;
  margin-top: 10px;
}
.career-links{
  list-style: none;
}

.career-links li a:link,
.career-links li a:visited{
  text-decoration: none;
  border: 0;
  color: #888;
  font-size: 200%;
}

ion-social-facebook,
ion-social-linkedin,
ion-social-instagram{
  transition: color 0.2s;
}

.ion-social-facebook:hover{
  color: #3b5998;
}
.ion-social-linkedin:hover{
  color:#404cbd;
}
.career-links .ion-social-instagram:hover{
  color: #C13584;
}
/* ----------------------------------------------------------------------------- */
/* experience */
/* ----------------------------------------------------------------------------- */

.section_experience h2{
  margin-bottom: 50px;
}

.section_experience label,
.section_experience h4{
  color:#555;
  font-weight: 400;
}

.experience_certi{
  list-style: none;
}
.experience_project{
  list-style: none;
}

.experience_certi_points{
  margin-bottom: 25px;
}

.experience_project_points{
  margin-bottom: 25px;
}
/* ----------------------------------------------------------------------------- */
/* Travelcontent */
/* ----------------------------------------------------------------------------- */
.travelcontent{
  background-color: #f4f4f4;
}
.travelcontent .long-copy{
  margin-bottom: 70px;

}
/* ----------------------------------------------------------------------------- */
/* Travel */
/* ----------------------------------------------------------------------------- */

/* .section-travel .long-copy{
  margin-bottom: 70px;
}

.section-travel{
  padding: 0;
  margin-top: 50px;
}

.travel-showcase{
  width: 100%;
  list-style: none;
}
.travel-showcase li{
  float: left;
  width: 25%;
  display: block;
}
.travel-photo{
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.travel-photo img{
  opacity: 0.7;
  width: 100%;
  height: 400px;
  object-fit: cover; */
  /* height: auto; */
  /* transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s ;
}
.travel-photo img:hover{
  opacity: 1;
  transform: scale(1.03);
}


.travel-list01 h2,
.travel-list02 h2{
  margin-top: 70px;

} */


/* ----------------------------------------------------------------------------- */
/* Try */
/* ----------------------------------------------------------------------------- */
.container{
  max-width: 900px;
  margin: 0 auto 0 auto;
}

.section-travel .long-copy{
  margin-bottom: 70px;
}

.section-travel{
  padding: 0;
  margin-top: 50px;
}

.travel-showcase{
  width: 100%;
  list-style: none;
}
.travel-showcase li{
  float: left;
  width: 50%;
  display: block;
  animation-duration: 2s;
}
.travel-photo{
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}
.travel-photo img{
  object-fit: cover;
  opacity: 0.7;
  width: 100%;
  height: 400px;
  /* height: auto; */
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s ;
}
.travel-photo img:hover{
  opacity: 1;
  transform: scale(1.03);
}

.travel_list h2{
  margin-top: 50px;
  margin-bottom: 50px;
}
/* ----------------------------------------------------------------------------- */
/* food  */
/* ----------------------------------------------------------------------------- */
.box img{
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  height: auto;
  margin-bottom: 15px;
  object-fit: cover;
}

.food-features{
  margin-bottom: 5px;
}

.section-food .long-copy{
  margin-bottom: 70px;
}

.box h3{
  text-align: center;
  color: #38ada9;
  font-weight: 400;
}



/* ----------------------------------------------------------------------------- */
/* FORM*/
/* ----------------------------------------------------------------------------- */
.section-form{
  background-color: #f4f4f4;
}
.contact-form{
  width: 60%;
  margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea{
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
textarea{
  height: 100px;
}
input[type=checkbox]{
  margin: 10px 5px 10px 0;
}
*:focus{outline: none;}


/* ----------------------------------------------------------------------------- */
/* FOOTER*/
/* ----------------------------------------------------------------------------- */

footer{
  background-color: #333;
  padding: 50px;
  font-size: 80%;
}
.footer-nav{
  list-style: none;
  float: left;

}

.social-links{
  list-style: none;
  float: right;
}

.footer-nav li,
.social-links li{
  display:inline-block;
  margin-right: 20px;
}
.footer-nav li:last-child,
.social-links li:last-child{
  margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited{
  text-decoration: none;
  border: 0;
  color: #888;
}

.footer-nav li a:hover,
.footer-nav li a:active{
  color: #ddd;
}

.social-links li a:link,
.social-links li a:visited{
  font-size: 160%;
}
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
  transition: color 0.2s;
}

.ion-social-facebook:hover{
  color: #3b5998;
}
.ion-social-twitter:hover{
  color: #00aced;
}
.ion-social-googleplus:hover{
  color: #dd4b39;
}
.ion-social-instagram:hover{
  color: #517fa4;
}
footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
}
